
body {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 72, 0);
}

/* Header */

.header {
    background-color: darkred;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.5);
}

.isi {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
    display: flex;
}

.isi a {
    flex-basis: 40%;
    font-family: 'Fredoka One', cursive;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
    padding-top: 20px;
    text-align: center;
    
}
.isi a:hover {
    background-color: aliceblue;
}
.isi h1 {
    flex-basis: 90%;
    font-family: 'Fredoka One', cursive;
    color: #000000;
    font-size: 1.5em;
}

.isi h1 span {
    font-size: 25px;
    color: rgb(255, 255, 255);
    
}

/* End Header */

/* Logo */
.logo {
    padding: 20px;
    margin: 0;
    background-image: url("img/warung4.png");
    background-size: cover;
}

.logo img {
    width: 700px;
    height: 350px;
    display: block;
    margin: auto;
    position: relative;
}
/* End Logo */

.slogan {
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

.slogan h3 {
    color: aliceblue;
}

.slogan h3 span {
    color: rgb(255, 218, 6);
}
.slogan h1 {
    color: #ffffff;
}
 /* Menu*/
 .menu1 {
     text-align: center;
    font-family: 'Fredoka One', cursive;
}
.menuutama {
    padding: 0;
    margin: 30px 30px;
    background-color: rgb(255, 238, 0);
    box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.5);
}
/* End Menu*/

/* menu 1*/

.menu {
    display: flex;
}
.menu img {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    background-color: rgb(255, 115, 0);
    margin-top: 30px;
    border-radius: 20px;
}

.menu img:hover {
    width: 280px;
    height: 280px;
}
.text {
    display: flex;
}

.text p {
    text-align: center;
    display: block;
    margin: 10px 270px 0px 220px;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    padding: 0;
    color: rgb(255, 51, 0);
}
.harga1 {
    display: flex;
}

.harga1 p {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.pesan {
    padding: 0;
    margin: 0 150px;
}

.pesan li {
    list-style-type: none;
}
.pesan ul {
    display: flex;
    justify-content: space-between;
}
.detail1 {
    display: flex;
}


.detail1 a {
    color: #000000;
    text-decoration: none;
    margin: 0px 20px;
    background-color: rgb(255, 153, 0);
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}
.detail2 {
    display: flex;
}

.detail2 a {
    color: #000000;
    text-decoration: none;
    margin: 0px 60px 0px 0px;
    background-color: rgb(255, 153, 0);
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}
.pesan a:hover {
    background-color: aliceblue;
}
/* End menu 1*/

/* Menu 2*/


.menu2 {
    display: flex;
}
.menu2 img {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    background-color: rgb(255, 115, 0);
    margin-top: 30px;
    border-radius: 20px;
}
.menu2 img:hover {
    width: 280px;
    height: 280px;
}

.text2 {
    display: flex;
}

.text2 p {
    text-align: center;
    display: block;
    margin: 10px 270px 0px 220px;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    padding: 0;
    color: rgb(255, 51, 0);
}
.harga2 {
    display: flex;
}

.harga2 p {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.pesan2 {
    padding: 0;
    margin: 0 150px;
}

.pesan2 li {
    list-style-type: none;
}
.pesan2 ul {
    display: flex;
    justify-content: space-between;
}
.detail3 {
    display: flex;
}


.detail3 a {
    color: #000000;
    text-decoration: none;
    margin: 0px 20px;
    background-color: rgb(255, 153, 0);
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}
.detail4 {
    display: flex;
}

.detail4 a {
    color: #000000;
    text-decoration: none;
    margin: 0px 60px 0px 0px;
    background-color: rgb(255, 153, 0);
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}
.pesan2 a:hover {
    background-color: aliceblue;
}

/* EndMenu 2*/

/* Menu 3 */

.menu3 {
    display: flex;
}
.menu3 img {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    background-color: rgb(255, 115, 0);
    margin-top: 30px;
    border-radius: 20px;
}
.menu3 img:hover {
    width: 280px;
    height: 280px;
}

.text3 {
    display: flex;
}

.text3 p {
    text-align: center;
    display: block;
    margin: 10px 300px 0px 220px;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    padding: 0;
    color: rgb(255, 51, 0);
}
    .harga3 {
        display: flex;
    }
    
    .harga3 p {
        text-align: center;
        display: block;
        margin: 0 auto;
        font-size: 20px;
        padding: 10px;
        color: rgb(0, 0, 0);
    }
        .pesan3 {
            padding: 0;
            margin: 0 150px;
        }
        
        .pesan3 li {
            list-style-type: none;
            margin-bottom: 20px;
        }
        .pesan3 ul {
            display: flex;
            justify-content: space-between;
        }
        .detail5 {
            display: flex;
        }
        
        
        .detail5 a {
            color: #000000;
            text-decoration: none;
            margin: 0px 20px;
            background-color: rgb(255, 153, 0);
            width: 80px;
            height: 20px;
            text-align: center;
            padding: 10px;
            border-radius: 3px;
        }
        .detail6 {
            display: flex;
        }
        
        .detail6 a {
            color: #000000;
            text-decoration: none;
            margin: 0px 60px 0px 0px;
            background-color: rgb(255, 153, 0);
            width: 80px;
            height: 20px;
            text-align: center;
            padding: 10px;
            border-radius: 3px;
        }
        .pesan3 a:hover {
            background-color: aliceblue;
        }

        /* End menu3*/

        /* Menu bayar */
        .judulorder {
            text-align: center;
            align-items: center;
            font-family: 'Fredoka One', cursive;
        }
        .menubayar {
            padding: 0;
            margin: 30px 30px;
            background-color: rgb(255, 238, 0);
            box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.5);
            font-size: 20px;
        }


        .menubayar ul {
            justify-content: space-between;
        }
        
        .menubayar li {
            list-style-type: none;
        }

        .menubayar .keranjang {
            display: flex;
        }

        .keranjang {
            justify-content: space-between;
            margin: 0px 320px 0px 200px;
            padding: 0;
            
        }
        .keranjang p {
            background-color: rgb(255, 153, 0);;
            padding: 10px;
            width: 170px;
            height: 35px;
            text-align: center;
            border-radius: 10px;
        }

        .menubayar .nota {
            display: flex;
            padding: 0;
        }
        
        .nota {
            justify-content: space-between;
             margin: 0px 200px 0px 200px;
        }
        .menubayar .bayar {
            display: flex;
        }
        .detail p{
            margin: 0px 440px 0px 200px;
        }
        .bayar {
            margin : 0;
        }
        
        /* End Menu bayar */

        /* Menu Kontak*/
        .judulkontak {
            text-align: center;
            font-family: 'Fredoka One', cursive;font-family: 'Fredoka One', cursive;
            margin: 0px;
        }

        .kontak {
            padding: 0;
            margin: 30px 30px;
            background-color: rgb(255, 238, 0);
            box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.5);
            font-size: 20px;
        }
        
        .gambar {
            display: flex;
        }
        
        .gambar img {
            width: 200px;
            height: 200px;
        }
        .gambar img:hover {
            width: 220px;
            height: 220px;
        }

        .gambar a {
            margin : 0 auto;
        }

        .about {
            display: flex;
            margin-left: 200px;
            
        }
        .about li {
            list-style-type: none;
            width: 70%;
        }
        .about img {
            width: 350px;
            height: 280px;
            border-radius: 10px;
            margin-bottom: 40px;
            margin-right: 50px;
        }