* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgba(213, 213, 213, 0.28);
  overflow-x: hidden;
}
h1,
a {
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: white !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: fixed;
  width: 100% !important;
  z-index: 12;
}
.home__blob {
  fill: #3e6ff4;
}

.kotak {
  width: 300px;
  position: absolute;
  left: 45%;
  top: 20%;
  animation: visible 4s ease-in-out infinite;
}
.home__blob-img {
  width: 360px;
}

.home__img {
  width: 400px;
}
.down {
  display: flex;
  justify-content: center;
}

.icon-down {
  animation: moveUpDown 2s ease-in-out infinite;
}
.change-color {
  animation: changeColor 2s ease-in-out infinite;
}

.typing {
  white-space: nowrap;
  overflow: hidden;
  /* margin: 0 auto; */
  animation: typing 3s steps(40) infinite, blink-caret 0.75s step-end infinite;
}
.button-contact {
  background-color: #3e6ff4;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
}
.button-contact:hover {
  background-color: white;
  border: solid 1px #3e6ff4;
  color: black;
}
.icon-sosmed {
  transition: 2s ease;
  cursor: pointer;
}
.icon-sosmed:hover {
  position: relative;
  bottom: 10px;
}

/* about */
.center {
  width: 100%;
  text-align: center;
}
.about p {
  font-size: 20px;
}
.about h4 {
  margin-right: 30px;
}
.about-img {
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  box-shadow: rgba(4, 140, 198, 0.8) 0px 5px 10px;
  transition: 1s;
}

.about-img-wrap {
  display: flex;
}

.about-img:nth-child(1) {
  background-image: url("img/devano-22-8.JPG");
  background-position: center;
  background-size: cover;
}
.about-img:hover:nth-child(1) {
  scale: 1.1;
  rotate: 5deg;
}
.about-img:nth-child(2) {
  background-image: url("img/devano-22-5.JPG");
  background-position: center;
  background-size: cover;
}
.about-img:hover:nth-child(2) {
  scale: 1.1;
}
.about-img:nth-child(3) {
  background-image: url("img/devano-22-2.JPG");
  background-position: center;
  background-size: cover;
}
.about-img:hover:nth-child(3) {
  scale: 1.1;
  rotate: -5deg;
}
.line {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: rgba(213, 213, 213, 0.8);
  margin-bottom: 20px;
}
.carousel-control-next {
  color: black;
}
.carousel-control-next:hover {
  color: black;
}
.carousel-control-prev {
  color: black;
}
.carousel-control-prev:hover {
  color: black;
}

.loading-bar {
  width: 100%;
  height: 5px;
  background-color: #ddd;
  position: relative;
  margin-bottom: 20px;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #3498db;
  position: absolute;
}
.progress-1 {
  animation: progress-1 4s linear infinite;
}
.progress-2 {
  animation: progress-2 4s linear infinite;
}
.progress-3 {
  animation: progress-3 4s linear infinite;
}
.progress-4 {
  animation: progress-4 4s linear infinite;
}
.gallery-photo {
  max-width: 300px;
  height: 200px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.photo-1 {
  background-image: url("img/photo1.jpeg");
}
.photo-2 {
  background-image: url("img/photo2.jpeg");
}
.photo-3 {
  background-image: url("img/photo3.jpeg");
}
.photo-4 {
  background-image: url("img/photo4.jpeg");
}
.photo-5 {
  background-image: url("img/photo5.jpeg");
}
.photo-6 {
  background-image: url("img/photo6.jpeg");
}
.photo-7 {
  background-image: url("img/photo7.jpeg");
}
.photo-8 {
  background-image: url("img/photo8.jpeg");
}
.title-photo {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-color: rgba(55, 55, 55, 0.56);
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  opacity: 0;
  transition: 0.6s;
}
.title-photo:hover {
  opacity: 1;
}
.title-photo p {
  margin: 10px;
}

/* video */
.video {
  background-color: #3e6ff4 !important;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  display: flex;
  max-width: 1250px;
  height: 360px;
  overflow-y: hidden;
  overflow-x: scroll;
  margin: auto;
}
.video-tiktok {
  background-color: #3e6ff4 !important;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  display: flex;
  max-width: 1250px;
  height: 820px;
  overflow-y: hidden;
  overflow-x: scroll;
  margin: auto;
}
.card-body {
  background-color: white;
  padding: 10px;
}

br {
  display: none;
}

/* pdf */
.pdf {
  height: 600px;
}

/* footer */
.footer {
  width: 100%;
  height: 250px;
  background-color: #3e6ff4;
  color: white;
}
.footer-row {
  width: 100%;
  height: 250px;
  background-color: #3e6ff4;
}
.footer a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
.footer-card {
  padding-top: 20px;
  width: 100%;
  color: white;
  font-size: 25px;
}
@keyframes progress-1 {
  0% {
    width: 0;
    background-color: #ddd;
  }
  30% {
    width: 80%;
    background-color: #3498db;
  }
  100% {
    width: 80%;
    background-color: #ddd;
  }
}
@keyframes progress-2 {
  0% {
    width: 0;
    background-color: #ddd;
  }
  30% {
    width: 90%;
    background-color: #3498db;
  }
  100% {
    width: 90%;
    background-color: #ddd;
  }
}
@keyframes progress-3 {
  0% {
    width: 0;
    background-color: #ddd;
  }
  30% {
    width: 70%;
    background-color: #3498db;
  }
  100% {
    width: 70%;
    background-color: #ddd;
  }
}
@keyframes progress-4 {
  0% {
    width: 0;
    background-color: #ddd;
  }
  30% {
    width: 65%;
    background-color: #3498db;
  }
  100% {
    width: 65%;
    background-color: #ddd;
  }
}
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0); /* Elemen berada di posisi awal */
  }
  50% {
    transform: translateY(-20px); /* Elemen bergerak ke atas */
  }
}

@keyframes changeColor {
  0%,
  100% {
    color: #3e6ff4; /* Elemen berada di posisi awal */
  }
  100% {
    color: blue; /* Elemen berada di posisi awal */
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

@keyframes visible {
  0% {
    opacity: 0; /* Mulai dari 0 derajat rotasi */
  }
  50% {
    opacity: 0.5; /* Mulai dari 0 derajat rotasi */
  }
  100% {
    opacity: 0; /* Mulai dari 0 derajat rotasi */
  }
}

@media (max-width: 768px) {
  .about-img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 520px) {
  .header h1 {
    font-size: 22px;
  }
}
@media (max-width: 420px) {
  .header h1 {
    font-size: 17px;
  }
  .kotak {
    width: 150px;
    top: 35%;
  }
  .about h4 {
    font-size: 17px;
  }
  .about p {
    font-size: 14px;
  }
}
