:root{
    /* font */
    --mainfont:'Lato', sans-serif;
    --secondaryfont:'Montserrat', sans-serif;
    --boldfont :'Poppins', sans-serif;
    /* color bg */
    --primarycolorbg: #b8ff65;
    --secondarycolorbg: #f3f3f3;
    
    /* color text */
    --primarycolortxt: rgba(62, 62, 62, 0.61);
    --secondarycolortxt: #f3f3f3;
    --thirdcolortxt: #157116;
}

* {
    box-sizing: border-box !important;
}
body {
    /* font-family: var(--mainfont); */
}

.nav-link{
    font-family: var(--secondarycolor);
    color:var(--primarycolortxt);
}
.nav-link.active{ 
    font-family: var(--secondarycolor) !important;
    color: black !important;
}

.navbar {
    background-color: var(--secondarycolor) !important;
    padding: 10px 100px;
}

.logo {
    width: 150px;
}
/* btn daftar */
.daftar {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0px;
    padding: 5px 5px;
    border-radius: 10px;
    font-family: var(--mainfont);
}
.daftar {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0px;
    padding: 5px 5px;
    border-radius: 10px;
}
.daftar:hover {
    background-color: var(--primarycolorbg);
}
/* home header */
.home-container {
    background-color: var(--primarycolorbg);
    width: 100%;
    margin-bottom: 40px;
}
.penerimaan-container {
    padding-bottom: 30px;
}
.home-container h1 {
    font-family: var(--boldfont);
    width: 100%;

}
button {
    margin-bottom: 15px;
}

.home{
    width: 85%;
}

.col2-home {
    display: flex; 
    justify-content: center;
}

.logo2 {
    width: 400px;
}

/* about */
.about {
    width: 85%;
    background-color: var(--secondarycolorbg);
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.about-container {
    padding-bottom: 50px;
}
.home-container {
    background-color: var(--primarycolorbg);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.daftar2 {
    border: 0px;
    border-radius: 5px;
    padding:10px 0px;
    width: 400px;
    background-color: white;
}

.btn-tentang {
    height: 25vh;
    justify-content: space-between;
}

.btn-tentang button {
    color: black;
    background-color: white;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 30px;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    border: 0px;
}

.btn-tentang button:hover {
    background-color: var(--primarycolorbg);
}

.btn-tentang button.active2 {
    background-color: var(--primarycolorbg);
}


.con-tentang {
    width: 500px;
    padding: 10px 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 2%;
    border-radius: 25px;
}
.con-tentang2 {
    display: flex;
    flex-direction: row;
}
.awalmulaisi {
    display: flex;
}
.visiisi {
    display: flex;
}
.kegiatanisi {
    display: flex;
}
.card {
    margin-left: 20px;
    margin-bottom: 10px;
    width: 300px;
}
.none {
pointer-events: none;
}
.none2 {
display: none;
}
.card {
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card h3 {
    font-family: var(--mainfont);
    color: #157116;
}
.card h4 {
    font-family: var(--mainfont);
    color: #157116;
}
.about h2 {
    font-family: var(--boldfont);
    color: #157116;
    margin-top: 15px;
}

.header-card img {
    width: 100px;
}
.header-card {
    justify-content: space-between;
    margin-bottom: 10px;
}


/* penerimaan */

.penerimaan-container h3 {
    font-family: var(--boldfont);
    color: black;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}
.penerimaan-container img {
    width: 40px;
}



.colapse-penerimaan {
    justify-content: space-between;
    background-color: #b8ff65;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px 0px;
}
.col2-penerimaan2 {
    background-color: white;
    margin: 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.penerimaan {
    width: 70%;
}

.btn-penerimaan2 {
    margin-top: 10px;
    display: flex;
    background-color: var(--secondarycolorbg);
    border-radius: 10px;
    padding: 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
}
.btn-penerimaan {
    padding-bottom: 30px;

}
.btn-penerimaan2 p {
    margin: 5px;
    font-family: var(--mainfont);
}
.btn-penerimaan2 img {
    width: 50px;
}
.btn-penerimaan2.active {
    background-color: var(--primarycolorbg);
}

.col2-penerimaan button {
    border: 0px;
    width: 100%;
}
.collapse h5 {
    padding-top: 20px;
    font-family: var(--boldfont);
    align-items: center; 
    text-align: center;
}
.collapse h6 {
    padding-top: 10px;
    font-family: var(--boldfont);
}

/* seleksi */
.con-seleksi {
    display: flex;
    background-color: var(--primarycolorbg);
}
.con-seleksi h3 {
    text-align: center;
    align-items: center;
    color: black;
    font-family: var(--boldfont);
    padding-top: 10px;
}

.tes img {
    width: 100px;
    border-radius: 50px;
    padding-top: 10px;
}
.tes {
    align-items: center;
    text-align: center;
}
.tes h2 {
    font-family: var(--boldfont);
    color: white;
    padding-top: 40px;
}
.tes a {
    color: white;
    text-decoration: none;
    font-family: var(--mainfont);
}


/* swiper tim*/
.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primarycolorbg);
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--primarycolorbg);
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #265DF2;
  }
  
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  .judul {
    font-family: var(--boldfont);
    padding: 10px;
  }
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
   
/* media query */
@media screen and (max-width: 800px) {
    .navbar {
        padding: 10px 20px;
        
    }
    .col1-about {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .col2-about {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .penerimaan {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {

    .home-container p {
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 0px 20px;
    }
    .home-container h1 {
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 0px 20px;
    }
    .home-container h4 {
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 0px 20px;
    }
    
    .sosmed {
        
        text-align: center;
        align-items: center;
    }
    .home {
        width: 100%;
    }
    .penerimaan {
        width: 90%;
    }
}
@media screen and (max-width: 400px) {
    .tentang {
        font-size: 20px;
    }
    .home h4 {
        font-size: 18px;
    }
    .col2-home img {
        width: 300px;
    }
}